@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Kosugi Maru", sans-serif;
}

.topBox {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border: 2px solid black;
  justify-content: flex-start;
}

.middleBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border: 2px solid purple;
}

.leftBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid red;
}

.rightBox {
  margin-left: 2rem;
  border: 2px solid blue;
}

.bottomBox {
  margin-top: 2rem;
  border: 2px solid green;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border: 2px solid yellow;
}
